<html>

  <head>
    <meta charset="UTF-8" />
    <title>Reset your AntColony password</title>
  </head>

  <body
    style="margin: 0 auto; color: #000000; text-align: center; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"
  >

    <div style="padding-bottom: 30px; ">
      <a style="display: block; text-align: center;">
        <img src="https://i.ibb.co/Dbkw9QK/512x512bb.png" alt="GitHub" style="height: 80px; padding-bottom: 8px;" />
      </a>
      <h1 style="font-size: 24px; margin: 0; text-align: center;">Reset your
        <span style="color: #1A3835;">Ant Colony</span>
        password
      </h1>
    </div>

    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      style="background-color: #ffffff; margin: 0 auto; max-width: 670px; border: 1px solid #ccc; border-radius: 4px; text-align: center"
    >

      <tbody>
        <tr>
          <td style="padding: 10px 25px 10px 25px">
            <h2 style="text-align: center ">Ant Colony password reset</h2>
            <div style="padding-left: 20px; padding-right: 20px; font-size: 17px">
              <p>We heard that you lost your Ant Colony password. Sorry about that !</p>
              <p>But don’t worry! You can use the following button to reset your password:</p>
              <p style="text-align: center;">
                <a
                  href="{{resetLink}}"
                  style="display: inline-block; padding: 10px 24px; background-color: #1A3835; color: #ffffff; text-decoration: none; font-weight: bold; border-radius: 6px;"
                  class="mt-[13px] w-full rounded-md bg-deep-teal px-3 py-3 font-gilroy-semi-bold font-semibold text-white hover:saturate-[400%]"
                >
                  Reset your password
                </a>

              </p>
              <p style="text-align: left;">Thanks,<br />Your AC Team</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>

</html>