<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset your AntColony password</title>
  </head>
  <body
    style="max-width: 670px; margin: 0 auto; text-align: center; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; background-color: #ffffff; color: #000000; "
  >
    <header>
      <img
        src="https://i.ibb.co/Dbkw9QK/512x512bb.png"
        alt="AntColony Icon"
        style="width: 100px;"
      />
      <h1 style="font-size: 2.15rem;">Reset your
        <span style="color: #1A3835;">Ant Colony</span>
        password
      </h1>
    </header>
    <div style="margin-top: 3rem; border: 1px solid #ccc; border-radius: 6px;">
      <section style="padding: 1rem 3rem;">
        <h2 style="font-size: 2rem;">Ant Colony password reset</h2>
        <div style="margin-top: 2rem; font-size: 1.25rem; line-height: 1;">
          <p>Have you lost your password?</p>
          <p>Don't worry! You can use the following button to reset it:</p>
          <button
            style="margin-top: 1rem; padding: 0.75rem 1rem; border-radius: 6px; border: none; font-size: 1rem; font-weight: bold; letter-spacing: 0.03rem; background-color: #1A3835; color: #ffffff;"
          >
            <a
              href="{{resetLink}}"
              style="color: inherit; text-decoration: none;"
            >
              Reset your password
            </a>
          </button>
        </div>
        <p
          style="margin-top: 2rem; text-align: left; font-size: 1.15rem;"
        >Thanks,<br />Your AC Team</p>
      </section>
    </div>
  </body>
</html>